<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <!-- <script src="todo.js"></script> -->
    <!-- <link rel="stylesheet" href="todo.css"> -->
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        .done-true{
            text-decoration: line-through;
            color: grey;
        }
    </style>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script> -->
    <script src="./Vendor/angular.min.js"></script>
</head>
<body>
    <div ng-controller="todoListController as todoList">
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
        [<a href="" ng-click="todoList.archive()">archive</a>]
        <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
                <label class="checkbox">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.Text}}</span>
                </label>
            </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
        <script type="text/javascript">
            var app = angular.module("todoApp", [])
            app.controller("TodoListController", function(){
                var todoList = this;
                todoList.todo = [
                    {text: "lear AngularJS", done:true},
                    {text: "build an angularJS app", done: false}
                    ];
                todoList.addTodo = function() {
                    todoList.todos.push ({text: todoList.todoText, done:false});
                    todoList.todoText = '';
                    };
                todoList.remaining = function() {
                    var count = 0;
                    angular.forEach(todoList.todos, function(todo, key){
                        var count = 0;
                        angular.forEach(todoList.todos, function(todo) {
                            count += todo.done ? 0 : 1;
                        });
                        return count;
                    });
                }
                todoList.archive = function() {
                    var oldTodos = todoList.todos;
                    todoList.todos = [];
                    angular.forEach(oldTodos, function(todo) {
                        if (!todo.done) todoList.todos.push(todo);
                    });
                }
            });
        </script>
    </div>
</body>
</html>


